* {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rampart One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #F3F3F3;
}

    .main-top {
        background-image: url('background.jpg');
        background-size: cover;
        margin-top: 1px;
        padding: 20px 0;
    }

        .main-top-text {
            text-align: center;
            margin-bottom: 20px;
            color: #635F5B;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .swiper-container {
            max-width: 900px;
            margin: 0 auto;
        }
        
        
            .infinite-slider .swiper-wrapper {
                transition-timing-function: linear;
            }
            
            
            .infinite-slider .swiper-slide {
                height: 320px !important;
                width: auto !important;
            }
            
            
            .infinite-slider .swiper-slide img {
                width: auto;
                height: 100%;
            }